<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>My Todo App</title>
    <link rel="stylesheet" href="../static/css/normalize.css/normalize.css">
 <!--    <link rel="stylesheet" href="node_modules/jquery-datetimepicker/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>

<div class="container">
    <h1>Comment analysis</h1>
    <form class="add-task" method="get" id ='add_submit' action = "http://localhost:5000/handle_data">
        <input name="content" type="text" placeholder="please type your comment" autocomplete />
        <button type="submit" >Submit</button>
    </form>

    <div class="task-list">

    </div>


    <div class="task-detail-mask"></div>
    <div class="task-detail">
      <div> 
        </div>
         </div>
    </div>
</div>

<div class="show_up" method="" action="">
    
</div>



<!--<video class="alerter" src="alert.mp3"></video>-->
<!-- <script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script src="node_modules/store/store.js"></script>
<script src="js/base.js"></script>
<script type="text/javascript" charset="utf-8"> -->
</body>
</html>